DATABASE_URL=postgresql://username:password@host/db_name
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

DATABASE_URL=sqlite:db.sqlite

# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_NAME=postgres
